In [5]:
import numpy as np

In [6]:
import pandas as pd

In [7]:
dt=pd.read_csv('dataset.csv')

In [8]:
dt

      X1    X2  Y
0   0.10  0.20  0
1   0.40  0.50  1
2   0.30  0.22  1
3   0.12  0.22  0
4   0.30  0.30  1
5   0.20  0.50  1
6   0.22  0.21  0
7   0.10  0.50  1
8   0.40  0.20  1
9   0.23  0.20  0
10  0.11  0.43  1
11  0.10  0.33  0
12  0.20  0.40  1
13  0.40  0.21  1
14  0.13  0.16  0
15  0.40  0.11  1
16  0.22  0.23  0
17  0.30  0.11  0
18  0.40  0.32  1
19  0.33  0.10  0
20  0.22  0.11  0
21  0.34  0.22  1
22  0.10  0.60  1
23  0.21  0.30  1
24  0.11  0.22  0
25  0.11  0.20  0
26  0.32  0.23  1
27  0.34  0.11  0
28  0.12  0.60  1
29  0.22  0.11  0

In [9]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [11]:
y=dt['Y']
x=dt.drop(['Y'], axis=1)

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.2, random_state=27)

In [13]:
clf = MLPClassifier(hidden_layer_sizes=(100,100,100), max_iter=200, alpha=0.0001,
                     solver='sgd', verbose=10,  random_state=21,tol=0.4)

In [14]:
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

Iteration 1, loss = 0.69152074
Iteration 2, loss = 0.69146399
Iteration 3, loss = 0.69138322
Iteration 4, loss = 0.69128237
Iteration 5, loss = 0.69116222
Iteration 6, loss = 0.69102316
Iteration 7, loss = 0.69086429
Iteration 8, loss = 0.69068526
Iteration 9, loss = 0.69048463
Iteration 10, loss = 0.69028576
Iteration 11, loss = 0.69008662
Iteration 12, loss = 0.68988525
Training loss did not improve more than tol=0.400000 for 10 consecutive epochs. Stopping.

In [15]:
accuracy_score(y_test, y_pred)

0.5

In [16]:
print(y_test, y_pred)

29    0
15    1
11    0
7     1
21    1
27    0
Name: Y, dtype: int64 [0 0 0 0 0 0]

In [17]:
import pickle
with open ('mplku','wb') as f:
    pickle.dump(clf,f)

In [18]:
import joblib
with open ('mplku','rb') as f:
    clfuji = joblib.load(f)

In [19]:
y_pred=clfuji.predict(x_test)

In [26]:
duji=pd.read_csv('uji.csv')
duji

     X1    X2
0  0.40  0.30
1  0.55  0.45
2  0.50  0.40
3  0.31  0.44
4  0.11  0.20

In [27]:
y_pred=clfuji.predict(duji)

In [29]:
y_pred

array([0, 0, 0, 0, 0], dtype=int64)